/*// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
	color: red;
   background-image: image-url("stars.gif");
 }

h1, h2, h3 {
  color: red;
}

h1, h3 {
  text-align: center;
}

h1 {
	font-family: 'Akronim', cursive;
	font-size: 8em;
}

img {
	display: block;
	margin: 0 auto;
	height: 200px;
	width: 150px;
}

.navbar-brand {
	font-family: 'Akronim', cursive;
	font-size: 2em;
}

